.button-base {
	background-color: transparent;
	border-color:     rgb(var(--generic-3));
	color:            rgb(var(--generic-3));
	border-style:     solid;
	border-width:     2px;
	padding:          0;
	font-family:      "Raleway";
	font-weight:      600;
	font-size:        24px;
	cursor:           pointer;
	padding:          5px;
	margin:           10px auto;
	display:          block;
	width:            100%;
}

.button-base:hover {
	background-color: rgb(var(--generic-2));
	box-shadow:  0px 10px 3px -5px rgb(var(--generic-black));
}

.button-base:active {
	background-color: rgb(var(--generic-1));
    box-shadow: 0px 4px 2px -2px rgb(var(--generic-black));
}

.button-base:focus {
	outline: none;
}

.button-disabled {
	color:        rgb(var(--generic-white));
	border-color: rgb(var(--generic-white));
	opacity:      75%;
	cursor:       default;
}

.button-disabled:hover {
	background-color: transparent;
	box-shadow: none;
}

.button-disabled:active {
	background-color: transparent;
	box-shadow: none;
}

.step-button-wrapper {
	position: absolute;
	top: 12.5% !important;
}

.step-button {
	width: 49%;
	display: inline-block;
}

