:root {
	--vampire-black: FFFFFF;
	--vampire-1: 38, 47, 42;
	--vampire-2: 225, 0, 14;
	--vampire-3: 105, 46, 78;
	--vampire-4: 66, 85, 115;
	--vampire-white: 000000;
	
	--mage-black: FFFFFF;
	--mage-1: 93, 20, 81;
	--mage-2: 47, 65, 109;
	--mage-3: 20, 134, 140;
	--mage-4: 148, 206, 202;
	--mage-white: 000000;
	
	--werewolf-black: FFFFFF;
	--werewolf-1: 163, 86, 56;
	--werewolf-2: 224, 143, 98;
	--werewolf-3: 215, 199, 158;
	--werewolf-4: 157, 171, 134;
	--werewolf-white: 000000;
	
	--changeling-black: FFFFFF;
	--changeling-1: 114, 27, 101;
	--changeling-2: 184, 13, 87;
	--changeling-3: 248, 97, 90;
	--changeling-4: 255, 216, 104;
	--changeling-white: 000000;
	
	--generic-black: 33 32, 53;
	--generic-1: 57, 55, 91;
	--generic-2: 116, 92, 151;
	--generic-3: 213, 151, 206;
	--generic-4: 245, 176, 203;
	--generic-white: 244, 222, 231;
	
	--logo-size: 500px;
}